<template name="profileSetup">
	<div class="bar bar-header bar-colorAndroidTwo">
		<h1 class="title bar-titleColorAndroid">Profile Setup</h1>
	</div>
	
	{{#ionContent class="contentBackground"}}
	<div class="list" id="profileSetupList contentBackground">
		<a class="item item-avatar listBackground" id="profilePic">
			<img src="gif.gif">
			<h2 style="margin-top : 6%;">Profile Picture</h2>
		</a>
	</div>
	
	<ul class="list contentBackground">
		<li class="item">
			<input type="text" placeholder="Status" id="status">
		</li>
	</ul>
	{{/ionContent}}
	
</template>