<template name ="contacts">
    {{#contentFor "headerTitle"}}
    <h1 class="title">Contacts</h1>
    <button class="button button-clear" data-ion-modal="newPerson"><i class="icon ion-person-add dark"></i></button>
    {{/contentFor}}

    {{#ionBody}}
    
        {{#ionNavView}}
            {{#ionContent}}
                {{#ionList}}
                    {{#each lists}}
                        {{#ionItem avatar=true}}
                        
                            <img src="/5.jpg">
                            <a onclick="alert('deneme')"><h3>{{name}}</h3></a>
                            
                        {{/ionItem}}
                    {{/each}}
                {{/ionList}}
            {{/ionContent}}
            
            {{> profileTab}}
        {{/ionNavView}}

    {{/ionBody}}
</template>