<template name ="contacts">
    {{#contentFor "headerTitle"}}
    <h1 class="title">Contacts</h1>
    <button class="button button-clear" data-ion-modal="newPerson"><i class="icon ion-person-add dark"></i></button>
    {{/contentFor}}

    {{#ionBody}}
        {{#ionNavView}}
            {{#ionContent}}
                {{#ionList}}
                    {{#each lists}}
                        {{#ionItem}}
                            {{#linkTo route='message.Screen'}}
                                <button class="button button-large button-clear"><h3>{{name}}</h3></button>
                            {{/linkTo}}
                        {{/ionItem}}
                    {{/each}}
                {{/ionList}}
            {{/ionContent}}
         {{> profileTab}}
        {{/ionNavView}}
    {{/ionBody}}
</template>