<template name="profileTab">
    {{#if isAndroid}}
   
        {{#ionTabs style="android" class="tabs-background-royal tabs-color-light androidTab"}}
            {{> ionTab title="CONTACTS" path="contacts" iconOff="ios-people" iconOn="ios-people"}}
            {{> ionTab title="CHATS" path="profile" iconOff="android-chat" iconOn="android-chat"}}
            {{> ionTab title="SETTINGS" path="settings" iconOff="gear-b" iconOn="gear-b"}}
        {{/ionTabs}}
    
    {{else}}
        {{#ionTabs style="ios"}}
            {{> ionTab title="Contacts" path="contacts" iconOff="ios-people-outline" iconOn="ios-people calm"}}
            {{> ionTab title="Chats" path="profile" iconOff="ios-chatboxes-outline" iconOn="ios-chatboxes calm"}}
            {{> ionTab title="Settings" path="settings" iconOff="ios-gear-outline" iconOn="ios-gear calm"}}
            
        {{/ionTabs}}
    {{/if}}
</template>