body{
    background-image : url("messageBackground.jpg");
}

.chat {
  display: flex;
  flex-direction: column-reverse;
  color :black;
  position: relative;
  overflow : auto;
  height : 93%;
}

.chatAndroid {
  display: flex;
  flex-direction: column-reverse;
  color :black;
  position: relative;
  height : 93%;
}

.insideAndroid {
 
}

.bubble{
    border-radius: 15px 15px 15px 15px;
    margin: 0 15px 10px;
    padding: 10px 15px;
    position: relative;
    max-width: 80%;
    clear : both;
}

.bubble::before {
    border-color: #b9f6ca;
    border-radius: 50% 50% 50% 50%;
    border-style: solid;
    border-width: 0 20px;
    bottom: 0;
    clip: rect(20px, 35px, 42px, 0px);
    content: " ";
    height: 25px;
    position: absolute;
    right: -50px;
    width: 5px;
    z-index: -1;  
}

.bubble.me {
    float:right;
    background-color: #b9f6ca;
    color: black;
}

.bubble.me:before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;    
}

.bubble.you {
    float:left;
    background-color: white;
    color: black;        
}

.bubble.you:before {
    border-color:white;
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;           
}

textarea#mesaj
{
    width:100%;
    display:block;
    max-width:100%;
    line-height:1.5;
    border-radius:3px;
    background:transparent;
    transition:box-shadow 0.5s ease;
    box-shadow:0 4px 6px rgba(0,0,0,0.1);
    font-smoothing:subpixel-antialiased;
    z-index: 99999;
    position: relative;
}